

body {
    background-color: #60a3bc
}


.sayfa {
    width: 950px;
    margin: 50px auto;
}

#baslik {
    float: left;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

#menu {
    float: right;
    list-style: none;
    margin-top: 1em;
}

    #menu li {
        float: left;
    }

        #menu li a {
            color: white;
            text-decoration: none;
            margin: 5px;
            padding: 10px 20px;
        }

    #menu a:hover {
        background: #444;
        border-radius: 15px;
    }

.orta {
    margin-top: 15px;
    background: #001c4d;
}

.orta-sol {
    float: left;
    width: 450px;
}


.orta-sag {
    float: left;
    margin: 15px;
    width: 470px;
    color: #9ACD32;
}

.alt {
    background: #555;
    padding: 20px;
    text-align: center;
    color: #fff;
}

    .alt a {
        color: #fff;
    }

.temizle {
    clear: both;
}
.aw-slider > div {
    width: 500px;
    height: 330px;
    left: 0px;
    position: absolute;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: gecisler;
    -moz-animation-duration: 20s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: gecisler;
    -ms-animation-duration: 20s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-name: gecisler;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: gecisler;
}
    .aw-slider > div img {
        opacity: 0.9;
        filter: alpha(opacity=95);
    }

        .aw-slider > div img:hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }

    .aw-slider > div:hover {
        -webkit-animation-play-state: paused;
        /* Bu CSS tanımı Chrome 4.0, IE10, Firefox 16, Safari 4, Opera 15 ve üstü versiyonlarda çalışmaktadır*/
    }

@-webkit-keyframes gecisler {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -800px;
    }

    30% {
        left: -800px;
    }

    40% {
        left: -1600px;
    }

    50% {
        left: -1600px;
    }

    60% {
        left: -2400px;
    }

    70% {
        left: -2400px;
    }

    80% {
        left: -3200px;
    }

    90% {
        left: -3200px;
    }
}

@-moz-keyframes gecisler {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -800px;
    }

    30% {
        left: -800px;
    }

    40% {
        left: -1600px;
    }

    50% {
        left: -1600px;
    }

    60% {
        left: -2400px;
    }

    70% {
        left: -2400px;
    }

    80% {
        left: -3200px;
    }

    90% {
        left: -3200px;
    }
}

@-ms-keyframes gecisler {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -800px;
    }

    30% {
        left: -800px;
    }

    40% {
        left: -1600px;
    }

    50% {
        left: -1600px;
    }

    60% {
        left: -2400px;
    }

    70% {
        left: -2400px;
    }

    80% {
        left: -3200px;
    }

    90% {
        left: -3200px;
    }
}

@keyframes gecisler {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -800px;
    }

    30% {
        left: -800px;
    }

    40% {
        left: -1600px;
    }

    50% {
        left: -1600px;
    }

    60% {
        left: -2400px;
    }

    70% {
        left: -2400px;
    }

    80% {
        left: -3200px;
    }

    90% {
        left: -3200px;
    }
}

.aw-slider {
    width: 500px;
    height: 330px;
    overflow: hidden;
    position: relative;
}
.resim1, .resim2, .resim3, .resim4, .resim5 {
    position: absolute;
    width: 500px;
    height: 330px;
}

.aw-slider > div > a > span {
    position: absolute;
    display: table;
    background-color: black;
    color: white;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
}
.resim1 {
    left: 0;
}

.resim2 {
    left: 800px;
}

.resim3 {
    left: 1600px;
}

.resim4 {
    left: 2400px;
}

.resim5 {
    left: 3200px;
}


